[Unit]
Description=Bifrost Service
After=network.target

[Service]
Type=notify
NotifyAccess=all
Environment=GOTRACEBACK=crash
WorkingDirectory=/app
PIDFile=/app/logs/bifrost.pid
ExecStartPre=/app/bifrost -t -c=conf/config.yaml
ExecStart=/app/bifrost -d -c=conf/config.yaml
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -TERM $MAINPID
Restart=on-failure
TimeoutStartSec=30

[Install]
WantedBy=multi-user.target
