[Unit]
Description=Bifrost Service
After=network.target

[Service]
Type=forking
User=nobody
WorkingDirectory=/home/my-gateway/bifrost
PIDFile=/home/my-gateway/bifrost/logs/bifrost.pid
ExecStartPre=/home/my-gateway/bifrost/bifrost -t -c=conf/config.yaml
ExecStart=/home/my-gateway/bifrost/bifrost -d -c=conf/config.yaml
ExecReload=/home/my-gateway/bifrost/bifrost -u -c=conf/config.yaml
ExecStop=/home/my-gateway/bifrost/bifrost -s -c=conf/config.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target