name: build
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04
    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"
        id: go

      - name: Check out code
        uses: actions/checkout@v4

      - name: Build
        run: go build ./...

  golangci:
    name: lint
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.61.0
          args: --timeout=10m
          working-directory: ./pkg

  test:
    name: Test
    runs-on: ubuntu-22.04
    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Check out code
        uses: actions/checkout@v4

      - name: Test Go code
        run: go test -race -coverprofile=cover.out -covermode=atomic ./pkg/...

      - name: Upload coverage report to CodeCov
        uses: codecov/codecov-action@v4
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          files: ./cover.out
          verbose: true
